
<h4 class="pink-text">Registrar Zombi</h4>
<div class="row">
  <form class="col s12" method="POST" action="guardarZombi.php">
  <div class="row">
    <div class="input-field col s6">
      <input name="nombre" type="text" class="validate">
      <label for="nombre">Nombre del Zombi</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input name="estado" type="text" class="validate">
      <label for="entero">Estado del Zombi </label>
    </div>
  </div>
  <button class="waves-effect waves-light btn" type="submit">Guardar</button>
  </form>
</div>