<h5 class="pink-text">Lista de Zombis</h5>

<br>
<a class="btn-floating btn-large waves-effect waves-light red" href="agregarZombi.php"><i class="material-icons">add</i></a>

		<form method="POST" action="index.php">
			<div class="input-field inline col s12 l4">
				<input id="estado" name="estado" type="text" class="validate">
				<label for="estado">Estado Zombi</label>
			</div>
			<div class="col s6 l2">
			<br>
				<button class="waves-effect waves-light btn blue darken-1 right" type="submit">Buscar</button>
			</div>
		</form>
<br><br>