</div>
       <footer class="page-footer light-blue darken-4">
           <div class="footer-copyright">
               <div class="container center">
                   © 2018 - Erwin Julian A01206347 - 2do Examen Parcial
                   <br>
                   DAW & BD AD2018
               </div>
         </div>
       </footer>
       <!--Import jQuery before materialize.js-->
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   </body>
   <script type="text/javascript" src="../js/ajax.js"></script>
   <script>
      $(document).ready(function() {
        $('select').material_select();
      });
   </script>
</html>
