<h2>REGISTRO GRAL ZOMBIES</h2>
<br><br>
<h3>QUERY 1</h3>
<br>
<?php echo getZRegistrados();?>
<br>
<?php echo getZPorEstado();?>
<br>
<?php echo getZNMuertos();?>
<br><br>

<h3>QUERY 2</h3>
<br>
<?php echo getZRegistroAntRec();?>
<br><br>

<h3>Query 3</h3>


<a>Infección - 1</a>
<br>
<a>Coma - 2</a>
<br>
<a>Transformación - 3</a>
<br>
<a>Muerto - 4</a>
<br>
<!--<table>-->
<!--  <tr>-->
<!--    <td>Infección</td>-->
<!--    <td>Coma</td>-->
<!--    <td>Transformación</td>-->
<!--    <td>Completamente_muerto</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>1</td>-->
<!--    <td>2</td>-->
<!--    <td>3</td>-->
<!--    <td>4</td>-->
<!--  </tr>-->
<!--</table>-->
<div class="container left">
  <h5> Estado actual:
  <input class="validate" type="number" id="ncal" name="ncal" value='<?=$valor;?>' min=1 max=4 required>
  <a class="waves-effect waves-light btn light-blue darken-4" onclick="refresh()" id="actualiza">Cargar</a></h5>
</div>
<div id="zombis">
  <?php echo getZombiEstado($valor);?>
</div>
<br>
