/* Erwin Andrés Julián López A01206347
  DAW LAboratorio 7
  20 de Agosto del 2018
*/


.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}
