<div class="col-sm-12 col-md-4">
    <div class="option-btn text-center shadow">
         <a class="mx-auto" href="Controladores/consultas.php">Click aquí para entrar</a>
        <a href="Controladores/consultas.php" class="option-link"></a>
        <img src="media/entrada.png" alt="Icon Proyectos">
       
    </div>
</div>
